body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #8a8a8a;
    color: black;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}